.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 750px;
    height: 90px;
    background: #be8e4e;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.gift, .pay {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.gift {
    float: left;
    margin: 10px 0 0 20px;
    width: 188px;
    height: 50px;
    background-image: url('http://gacha.52toys.com/image/icon-get-gift.png');
}

.money {
    position: relative;
    float: left;
    margin: 10px 0 0 160px;
    width: 360px;
    height: 60px;
    line-height: 60px;
    background: #ffeacb;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 100px;
    text-align: center;
}

.moneyIcon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
}

.pay {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 60px;
    background-image: url('http://net.huanmusic.com/gasha/icon-recharge.png');
}