.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 0 0 120px 0;
}

.header {
    position: relative;
    width: 750px;
    height: 260px;
    background-image: url('//net.huanmusic.com/gasha/%E7%A1%AE%E8%AE%A4%E8%AE%A2%E5%8D%95%E8%83%8C%E6%99%AF.png');
}

.back {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 30px;
    left: 30px;
}

.backicon {
    display: block;
    width: 45px;
    height: 37px;
    background-image: url('//net.huanmusic.com/gasha/%E8%BF%94%E5%9B%9E%E6%8B%B7%E8%B4%9D2.png');
}

.backtext {
    margin-left: 30px;
    font-size: 30px;
    color: #ffffff;
}

.address {
    position: absolute;
    bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 750px;
    padding: 0 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.box > span {
    color: #ffffff;
}

.location, .more {
    position: absolute;
    display: block;
}

.location {
    bottom: 25px;
    left: 35px;
}

.more {
    bottom: 25px;
    right: 35px;
    background-image: url('//net.huanmusic.com/gasha/%E6%9B%B4%E5%A4%9A.png');
}

.content {
    width: 750px;
}

.tips {
    color: #fea270;
    display: block;
    margin: 20px 0 0 35px;
}

.paytext {
    background: #ffffff;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 30px;
    color: #444444;
}

.way {
    width: 750px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px 0;
    border-bottom: 2px solid #dddddd;
    background: #ffffff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.wayicon {
    display: block;
    width: 60px;
    height: 60px;
}

.waycontent {
    width: 500px;
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.waycontent > span {
    display: block;
}

.waystatus {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.ways {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 0;
    background: #f7f7f7;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.button {
    width: 270px;
    height: 100px;
    background-image: url('//net.huanmusic.com/gasha/%E6%8F%90%E4%BA%A4%E8%AE%A2%E5%8D%95.png');
}

.detail {
    width: 580px;
    height: 100px;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.count {
    color: #444444;
    margin-left: 30px;
}

.money {
    color: #fea270;
    margin-left: 10px;
}

.addressModal {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 80px;
    background: #ffffff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.modalItem {
    width: 750px;
    height: 200px;
}