.container {
    position: relative;
    width: 610px;
    height: 168px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    background: #ffffff; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    -webkit-box-align: start;
    
        -ms-flex-align: start;
    
            align-items: flex-start;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
}

.bge {
    position: absolute;
    right: 0;
    top: 0;
    width: 87px;
    height: 68px;
}

.price {
    color: #fea270;
    font-size: 72px;
    line-height: 72px;
}

.fullcut, .time {
    color: #999999;
    font-size: 24px;
}

.name {
    font-size: 48px;
    color: #444444;
}