.container {
    width: 750px;
    min-height: 100vh;
    padding: 6vh 0 0 0;
}

.content {
    position: relative;
    width: 750px;
    height: 94vh;
    background: #dcc6a6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url('http://gacha.52toys.com/image/gacha-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.name, .collect, .music, .store, .show, .barrage, .chat, .gashaponImg, .time {
    position: absolute;
}

.name, .time {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
    z-index: 2;
}

.collect, .gashaponImagePart {
    background-repeat: no-repeat;
}

.name {
    left: 20px;
    top: 10px;
    width: 610px;
    font-size: 40px;
}

.time {
    left: 20px;
    top: 60px;
    width: 610px;
    font-size: 20px;
}

.collect {
    right: 20px;
    top: 10px;
    /* width: 60px;
    height: 60px; */
    background-image: url('http://net.huanmusic.com/gasha/gacha-icon.png');
    /* background: #f27a7a; */
}

.music {
    right: 20px;
    top: 100px;
    width: 80px;
    height: 80px;
    /* background: #f27a7a; */
}

.store {
    left: 20px;
    bottom: 20px;
    font-size: 30px;
    width: 280px;
    z-index: 2;
    color: #ffffff;
}

.show {
    bottom: 20px;
    left: 325px;
    width: 100px;
    height: 100px;
    /* background: #f27a7a; */
}

.barrage {
    right: 100px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    /* background: #f27a7a; */
}

.chat {
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    /* background: #f27a7a; */
}

.main {
    width: 680px;
    height: 1000px;
    /* background: #f27a7a; */
    position: relative;
    
}

.gashaponImagePart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('http://gacha.52toys.com/image/gacha/v4-gacha-body.png');
    background-size: 100% 100%;
}

.centerClick {
    position: absolute;
    top: 27%;
    left: 31%;
    width: 39%;
    height: 280px;
}

.gashaponImg {
    position: absolute;
    top: 27%;
    left: 31%;
    width: 39%;
    height: 280px;
}

.modal {
    position: absolute;
}

.button1, .button2, .button3, .button4 {
    z-index: 2;
    background-image: url('http://gacha.52toys.com/image/gacha/v4-button-play.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button1 {
    bottom: 26%;
    left: 15.5%;
}
.button2 {
    bottom: 16%;
    left: 23%;
}
.button3 {
    bottom: 16%;
    right: 21%;
}
.button4 {
    bottom: 26%;
    right: 13.5%;
}

[button-attr='button-attr'] {
    width: 90px;
    height: 90px;
    position: absolute;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    
    z-index: 10;
    width: 400px;
    height: 200px;
    background: #ffffff;
    border-radius: 20px;
    color: #f27a7a;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}