.container {
    width: 750px;
    min-height: 100vh;
    padding: 90px 0 0 0;
    background: #dcc6a6;
}

.content {
    position: relative;
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.moneySpan, .icon, .money {
    display: block;
}

.record {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 30px;
}

.icon {
    margin: 30px 0 0 0;
    width: 150px;
    height: 150px;
}

.moneySpan {
    font-size: 20px;
    margin-top: 20px;
}

.money {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.topup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    width: 690px;
    padding: 0 20px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
}

.topup > span {
    display: block;
    width: 150px;
    line-height: 85px;
    font-size: 30px;
}

.moneyInput {
    display: block;
    width: 430px;
    height: 85px;
    line-height: 85px;
    font-size: 30px;
    border: 0px
}

.moneyInput:focus {
    border: 0px none;
}

.buttonBox {
    margin-top: 40px;
}

.tips {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}