.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 750px;
    height: 80px;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url('http://net.huanmusic.com/gasha/%E5%AF%BC%E8%88%AA%E6%9D%A1.png');
}

.icons {
    width: 46px;
    height: 44px;
}

.search {
    position: relative;
    width: 480px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 60px;
    background: #fff6e9;
    border-radius: 20px;
    color: #efb876;
    border: 0px;
}

.searchIcon {
    display: block;
    position: absolute;
    left: 20px;
    top: 12px;
    width: 30px;
    height: 30px;
    background-image: url('http://net.huanmusic.com/gasha/%E6%9F%A5%E8%AF%A2.png');
}

.show {
    visibility: visible;
    opacity: 1;
    position: fixed;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    padding-top: 6vh;
    background: #ffffff;
}

.hide {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    background-color: #ffffff;
}

.show, .hide {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


.show {
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(0,0,0,.5);

}

.hide {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(0,0,0,0);
}

.show, .hide {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}


.wrapper {
    position: absolute;
    width: 100%;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.bigButton, .smallButton {
    display: block;
    border-radius: 0;
    border-color: #bba895;
    background-color: #ffffff;
    color: #351b00;
    font-size: 26px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-width: 0 0 1px;
}

.bigButton:hover, .smallButton:hover {
    color: #3c7bd6;
}

.bigButton {
    width: 750px;
}

.smallButton {
    width: 250px;
}