.container {
    width: 750px;
    min-height: 100vh;
    padding: 90px 0 0 0;
    background: #ffffff;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.item {
    float: left;
}