.container {
    width: 750px;
    min-height: 100vh;
    padding-bottom: 120px;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.item {
    float: left;
    margin: 30px 0 0 30px;
}

.banner {
    position: relative;
    float: left;
    width: 710px;
    height: 300px;
    background: #ffffff;
    margin: 20px 0 0 30px;
}


.trig {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.trig > span {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: inline-block;
    background: #ffffff;
    width: 26px;
    height: 6px;
    margin: 0 0 0 16px;
}

.trig > .on {
    background: #f27a7a;
}

.wrapItem {
    position: relative;
    width: 690px;
    height: 300px;
}

.imageItem {
    display: block;
    position: relative;
    float: left;
    width: 690px;
    height: 300px;
    content: normal !important;
    border: 0px;
}

.imageItem {
    aspect-ratio: '710:200';
}

.type {
    float: left;
    margin: 20px 0;
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.typeBox {
    position: relative;
    margin-left: 30px;
}

.typeIcon {
    display: block;
    width: 330px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('//net.huanmusic.com/gasha/gashapon/%E5%85%A8%E9%83%A8%E5%88%86%E7%B1%BB.png');
}

.typeDetail {
    position: absolute;
    background: #ffffff;
    left: 0;
    top: 50px;
    z-index: 50;
    width: 330px;
    min-height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.typeitem {
    display: block;
    width: 110px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    height: 60px;
    background: #ffffff;
}