.container {
    width: 750px;
    min-height: 100vh;
    padding-bottom: 14vh;
    background: #dbc5a8;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.item {
    float: left;
    margin: 20px 0 0 20px;
}

.banner {
    position: relative;
    float: left;
    width: 710px;
    height: 200px;
    background: #ffffff;
    margin: 20px 0 0 20px;
}


.trig {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.trig > span {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: inline-block;
    background: #ffffff;
    width: 26px;
    height: 6px;
    margin: 0 0 0 16px;
}

.trig > .on {
    background: #f27a7a;
}

.wrapItem {
    position: relative;
    width: 100%;
    height: 100%;
}

.imageItem {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    content: normal !important;
    border: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.imageItem {
    aspect-ratio: '710:200';
}