.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 750px;
    height: 90px;
    background: #be8e4e;
}

.icon {
    display: block;
    position: absolute;
    left: 20px;
    top: 22px;
}

.text {
    display: block;
    position: absolute;
    left: 70px;
    top: 20px;
    color: #ffffff;
}