.container {
    position: relative;
    width: 750px;
    min-height: 100vh;
    padding-top: 6vh;
    background: #ffffff;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.item {
    float: left;
    margin: 20px 0 0 30px;
}

.menu {
    position: fixed;
    bottom: 150px;
    z-index: 10;
}