.container {
    width: 750px;
    min-height: 100vh;
    padding-bottom: 144px;
    background-color: #f7f7f7;
}
.container::after, .hotItems::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

[word-overflow="word-overflow"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

[bgimg-center="bgimg-center"] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hotItems {
    width: 750px;
    border-bottom: 2px solid #281300;
    background: #dec7a8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 20px;
}

.hotItem {
    position: relative;
    float: left;
    margin: 0 0 20px 20px;
    width: 345px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}