.container {
    width: 750px;
    min-height: 100vh;
    padding-bottom: 100px;
}

[container-with-header="true"] {
    width: 750px;
    min-height: 100vh;
    /* padding-top: 6vh; */
    padding-top: 80px;
    background-color: #f7f7f7;
}

[container-with-header="true"]::after, 
[container-with-header="false"]::after, 
.container::after
{
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

[content-clear="clear"]::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

[container-with-header="false"] {
    width: 750px;
    min-height: 100vh;
    background-color: #f7f7f7;
}

[word-overflow="word-overflow"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

[bgimg-center="bgimg-center"] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

[bgimg-center="100"] {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

[flex-center="all-center"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

[font-s="30"] {
    font-size: 30px;
}

[font-s="24"] {
    font-size: 24px;
}

[font-s="18"] {
    font-size: 18px;
}

.hotItems {
    width: 750px;
}

.menus {
    margin: 0 0 20px;
}

.timeLimit {
    width: 750px;
}

.timeIcon {
    width: 190px;
    height: 160px;
    background-image: url('http://net.huanmusic.com/gasha/%E9%99%90%E6%97%B6%E6%8A%A2%E8%B4%AD1.png');
}

.timeIcon, .mainDataHeader {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.timeIcon {
    display: block;

}

.bannerBox {
    margin: 0 0 0 30px;
}

.mainData {
    margin-top: 20px;
}

.mainDataHeader {
    width: 750px;
    height: 75px;
    margin-bottom: 10px;
}