.container {
    width: 330px;
    height: 360px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cover {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    font-size: 26px;
    background: rgba(255, 255, 255, .7);
}

.bges {
    position: absolute;
    right: 0;
    top: 0;
}

.bge {
    position: relative;
    float: right;
    right: 0;
    top: 0;
    width: 76px;
    height: 90px;
    background: yellow;
    margin-right: 10px;
}

.collect {
    position: absolute;
    bottom: 78px;
    left: 10px;
    width: 150px;
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
    background: #dddddd;
}

.collectNum {
    position: absolute;
    font-size: 24px;
}