.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0);
}

.container::after, .bgimg::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.bgimg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-image: url('http://gacha.52toys.com/image/gacha-result-bg.png');
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: center center;
    /* -webkit-animation: gacha-bg-rotate 50s linear infinite;
            animation: gacha-bg-rotate 50s linear infinite; */
}


.title, .image, .tip, .button {
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title {
    margin: 50px 0 0 225px;
    width: 300px;
    height: 80px;
    background-image: url('http://gacha.52toys.com/image/gacha-luckly-title.png');
}

.image {
    position: relative;
    width: 450px;
    height: 600px;
    margin: 50px 0 0 150px;
    background: -webkit-gradient(linear,left top, right top,from(#351b00),color-stop(#865A21),to(#351b00));
    background: linear-gradient(to right,#351b00,#865A21,#351b00);
}

.cover {
    position: absolute;
    width: 410px;
    height: 520px;
    top: 20px;
    left: 20px;
}

.tip {
    /* width: 410px; */
    width: 100%;
    text-align: center;
    height: 40px;
    margin: 50px 0 0 0;
    color: red;
    font-weight: 700;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff

}

.button {
    width: 200px;
    height: 60px;
    border: 2px solid #000000;
    text-align: center;
    line-height: 60px;
    color: #000000;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
    margin: 50px 0 0 275px;
    background: #76a828;
}

.name {
    position: absolute;
    height: 60px;
    line-height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    text-align: center;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
}