.container {
    z-index: 10;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    width: 750px;
    height: 144px;
    background: -webkit-gradient(linear,left top, left bottom,from(#704d30),to(#4e391c));
    background: linear-gradient(to bottom,#704d30,#4e391c);
}

.container {
    aspect-ratio: '750:100';
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.item {
    /* width: 180px;
    height: 100px;    */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}