.show {
    visibility: visible;
    opacity: 1;
    position: fixed;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    padding-top: 6vh;
    background: #ffffff;
}

.hide {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    background-color: #ffffff;
}

.show, .hide {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.searchHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 750px;
    height: 6vh;
    background: #bd8d53;
}

.searchHeader > i, .searchHeader > span {
    display: block;
}

.doSearch {
    font-size: 2.6vh;
    color: #000000;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
    
}

.searchInput {
    width: 550px;
    margin: 0 20px;
    height: 4vh;
    line-height: 4vh;
    border: 2px solid #000000;
    background: #fff6e9;
    color: #000000;
    padding-left: 20px;
    font-size: 2.6vh;
}

.hot, .history {
    width: 100%;
    margin-top: 40px;
}

.typeIcon, .content {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.typeIcon {

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
}

.content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hotItem, .historyitem {
    display: block;
    border: 2px solid #000000;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #000000;
    border-radius: 10px;
    padding: 0 20px;
    margin: 20px 0 0 20px;
}

.hotItem {
    background: #f9ba5e;
}
.historyitem {
    background: #fff;
}