.show {
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    padding-top: 6vh;
    background: #ffffff;
}

.hide {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: #ffffff;
}

.show, .hide {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.searchHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 750px;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url('http://net.huanmusic.com/gasha/%E5%AF%BC%E8%88%AA%E6%9D%A1.png');
}

.searchHeader > i, .searchHeader > span {
    display: block;
}

.icon {
    display: block;
    width: 41px;
    height: 33px;
    background-image: url('http://net.huanmusic.com/gasha/%E8%BF%94%E5%9B%9E%E6%8B%B7%E8%B4%9D2.png');
}

.doSearch {
    font-size: 30px;
    color: #ffffff;
}

.searchInput {
    width: 550px;
    margin: 0 20px;
    height: 4vh;
    line-height: 4vh;
    border-radius: 30px;
    border: 0px;
    background: #fff6e9;
    color: #efb876;
    padding-left: 20px;
    font-size: 26px;
}

.hot, .history {
    width: 100%;
    margin-top: 40px;
}

.typeIcon, .content {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.typeIcon {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
}

.content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hotItem, .historyitem {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 10px;
    padding: 0 20px;
    margin: 20px 0 0 20px;
}

.hotItem {
    background: #fba175;
    color: #ffffff;
}
.historyitem {
    background: #ffffff;
    border: 2px solid #999999;
    color: #999999;
}