.container {
    width: 750px;
    position: relative;
}

.container {
    aspect-ratio: '750:100';
}

.clock, .search {
    display: block;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clock, .item1, .item2, .item3, .header, .search {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.clock {
    width: 130px;
    height: 60px;
    background-image: url('http://net.huanmusic.com/gasha/%E7%AD%BE%E5%88%B0.png');
}

.search {
    margin-left: 30px;
    width: 350px;
    height: 50px;
    background-image: url('http://net.huanmusic.com/gasha/%E6%9F%A5%E8%AF%A21.png');
}

.item1, .item2, .item3 {
    width: 36px;
    height: 51px;
    margin-left: 32px;
}

.item1 {
    background-image: url('http://net.huanmusic.com/gasha/%E5%88%86%E7%B1%BB1.png');
}

.item2 {
    background-image: url('http://net.huanmusic.com/gasha/%E4%B8%93%E9%A2%981.png');
}

.item3 {
    background-image: url('http://net.huanmusic.com/gasha/%E6%B6%88%E6%81%AF1.png');
}

.swiper {
    float: left;
    width: 690px;
    margin: 20px 0 20px 30px;
    height: 300px;
}

.show {
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(0,0,0,.5);

}

.hide {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(0,0,0,0);
}

.show, .hide {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.wrapper {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.bigButton, .smallButton {
    display: block;
    border-radius: 0;
    border-color: #bba895;
    background-color: #f9f0e2;
    color: #351b00;
    font-size: 26px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-width: 0 0 1px;
}

.bigButton:hover, .smallButton:hover {
    background: #dddddd;
    color: #3c7bd6;
}

.bigButton {
    width: 750px;
}

.smallButton {
    width: 250px;
}

.header {
    width: 750px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url('http://net.huanmusic.com/gasha/%E5%AF%BC%E8%88%AA%E6%9D%A1.png')
}