.container {
    width: 750px;
    height: 560px;
    position: relative;
    border-bottom: 2px solid #281300;
    background: #be8e4e;
}

.container {
    aspect-ratio: '750:100';
}

.clock, .search {
    display: block;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clock, .item1, .item2, .item3 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.clock {
    position: absolute;
    z-index: 10;
    width: 80px;
    height: 200px;
    left: 16px;
    top: 0;
    background-image: url('http://net.huanmusic.com/gasha/gif-sign.gif');
}

.search {
    width: 370px;
    height: 60px;
    float: left;
    background: #fff6e8;
    margin: 20px 0 0 100px;
}

.item1, .item2, .item3 {
    float: left;
    width: 60px;
    height: 80px;
    margin: 10px 0 0 26px;
}

.item1 {
    background-image: url('http://net.huanmusic.com/gasha/icon-home-sort.png');
}

.item2 {
    background-image: url('http://net.huanmusic.com/gasha/icon-home-zt.png');
}

.item3 {
    background-image: url('http://net.huanmusic.com/gasha/icon-home-message.png');
}

.swiper {
    float: left;
    width: 714px;
    margin: 10px 0 0 18px;
    height: 444px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #271400;
}

.show {
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(0,0,0,.5);

}

.hide {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(0,0,0,0);
}

.show, .hide {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.bigButton, .smallButton {
    display: block;
    border-radius: 0;
    border-color: #bba895;
    background-color: #f9f0e2;
    color: #351b00;
    font-size: 26px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-width: 0 0 1px;
}

.bigButton:hover, .smallButton:hover {
    background: #dddddd;
    color: #3c7bd6;
}

.bigButton {
    width: 750px;
}

.smallButton {
    width: 250px;
}