.container {
    position: relative;
    width: 750px;
    min-height: 100vh;
    padding-top: 6vh;
    background: #ffffff;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.item {
    position: relative;
    float: left;
    margin: 20px 0 0 30px;
}

.menu {
    position: fixed;
    bottom: 150px;
    z-index: 10;
}

.option {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 40;
    width: 20px;
    height: 20px;
}

.back {
    width: 750px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.back > span {
    font-size: 25px;
}

.backIcon {
    display: block;
    width: 41px;
    height: 33px;
    margin: 0 40px;
    background-image: url('http://net.huanmusic.com/gasha/%E8%BF%94%E5%9B%9E%E6%8B%B7%E8%B4%9D2.png');
}

.colorText {
    color: #fea270;
    margin: 0 10px;
    font-size: 25px;
}

.footer {
    width: 750px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.choice {
    width: 480px;
    height: 100px;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.choiceIcon {
    width: 40px;
    height: 40px;
    margin-left: 35px;
}

.choiceText {
    margin-left: 35px;
}

.button {
    width: 270px;
    height: 100px;
}