.container {
    width: 100vw;
    height: 100vh;
}

.show {
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(0,0,0,.5);

}

.hide {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(0,0,0,0);
}

.show, .hide {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.content {
    position: absolute;
    width: 600px;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    border: 4px solid #f9ba5e;
    border-radius: 10px;
    background: #fff6e8;
}

.header {
    position: relative;
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    font-size: 3vh;
    text-align: center;
    background: #f9ba5e;
    color: #ffffff;
}

.newsBody {
    width: 100%;
    height: 74vh;
}