.container {
    width: 750px;
    height: 85px;
    background: #ffffff;
    line-height: 85px;
    padding: 0 20px;
    border-bottom: 2px solid #dddddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container > span {
    font-size: 30px;
}

.icon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: #f27a7a;
}