.container {
    width: 690px;
    height: 200px;
    position: relative;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.banner, bannerType {
    display: block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner {
    width: 100%;
    height: 100%;
}